In [5]:
print('hello world')

hello world

In [6]:
# 변수 = 값 (변수에 값을 할당.., '='는 할당 연산자)

a = 10
b = 3.5
c = 'sogang'

In [7]:
print(a)

10

In [8]:
print(a, b, c)

10 3.5 sogang

In [ ]:
# 변수조건 -  영문자 소문자, 대문자, _(underscore), 숫자, 한글
# 변수로 사용 금지 -  python keyword

In [10]:
python_score = 90
print(python_score)

90

In [11]:
python-score = 90

SyntaxError: can't assign to operator (<ipython-input-11-61ee965677d4>, line 1)

In [12]:
math1 = 90
print(math1)

90

In [13]:
1math = 90   # 변수면에 숫자가 첫 글자로 오면 안 됨.

SyntaxError: invalid syntax (<ipython-input-13-82e8e50435eb>, line 1)

In [14]:
# 한글 변수도 가능은 하다.

학생수 = 50
print(학생수)

50

In [15]:
# 튜플 packing..

a = 10; b=20; c=30
print(a, b, c)

10 20 30

In [ ]:
#### 기본자료형 (요소가 하나)

* int(정수)
* float(실수)
* bool(True/ False)

#### 군집형자료형 (여러 요소가 묶여서 하나의 값을 만드는 데이터)

* str(문자열) - 'sogang'
* list(리스트) - [1,2,3,5,4]
* tuple(튜플) - (1,2,3,4,5)
* set(집합) - {1,2,3,4,5}
* dict(사전) - {3:4, 4:5, 6:7}

In [1]:
# 정수형

In [2]:
a = 23
print(a)

23

In [3]:
type(a)

int

In [ ]:
# int() -  정수로 값을 바꿔주는 함수

In [4]:
b = 3.14
type(b)

float

In [5]:
c = int(b)
type(c)

int

In [6]:
d = '15'
type(d)

str

In [7]:
e = int(d)
type(e)

int

In [ ]:
# float

In [8]:
a = 3.14
type(a)

float

In [ ]:
# float() : 실수로 데이터 타입을 전환시키는 함수..

In [9]:
b = 25
type(b)

int

In [10]:
c = float(b)
c

25.0

In [11]:
type(c)

float

In [13]:
string = '3.14'
type(string)

str

In [16]:
d = float(string)
type(d)

float

In [19]:
d

3.14

In [21]:
int(string)

ValueError: invalid literal for int() with base 10: '3.14'

In [22]:
# 사칙연산 => +(덧셈), -(뺄셈), *(곱셈), /(나눗셈), %(나머지), ^(승)

In [23]:
2+3

5

In [24]:
5-3

2

In [26]:
5*3

15

In [25]:
5/3

1.6666666666666667

In [27]:
5%3

2

In [32]:
5**3

125

In [34]:
# 덧셈식입니다...

2+5

7

In [35]:
'''
python 기초 연습
사칙연산 연습입니다.
파이썬은 재미가 있습니다.
'''

25/5

5.0